/*
 |
 | General styling
 |
*/

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 14px;
    min-height: 100%;
}

p:last-child {
    margin: 0;
}

//
// Vuetify hacks
//

.v-btn {
    &.icon-right {
        .v-icon, .fa, .far, .fas, .svg-inline--fa {
            margin-right: 0;
            margin-left: 10px;
        }
    }
    .v-icon {
        margin-right: 10px;
    }
    .fa, .far, .fas, .svg-inline--fa {
        margin-right: 10px;
    }
    .custom-button-icon {
        width: 24px;
        height: 24px;
        margin-right: 8px;
    }
    &.icon-only {
        min-width: auto;
        .v-icon, .svg-inline--fa, .custom-button-, .fa, .fas, .far {
            margin: 0;
        }
        &.v-btn--large {
            padding: 0 16px;
        }
    }
}

i {
    font-family: 'Material Icons';
}

.italic {
    font-style: italic;
    &.margin-left {
        margin: 0 0 0 10px;
    }
    &.small {
        font-size: .8em;
        color: hsl(0, 0%, 25%);
    }
}
