@import "imports";
@import "general";

//
// App layout styling
//

#app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 95%);
    #topnav__wrapper {
        height: 80px;
        background-color: hsl(0, 0%, 100%);
        #topnav {
            height: 100%;
            width: 1200px;
            display: flex;
            margin: 0 auto;
            flex-direction: row;
            align-items: center;
            #topnav-logo__wrapper {
                #topnav-logo {
                    height: 40px;
                    display: flex;
                    display: block;
                    color: #ffffff;
                    font-weight: 600;
                    padding: 10px 15px;
                    border-radius: 3px;
                    flex-direction: row;
                    align-items: center;
                    transition: all .3s;
                    text-decoration: none;
                    box-sizing: border-box;
                    background-color: hsl(0, 0%, 0%);
                    &:hover {
                        background-color: hsl(0, 0%, 25%);
                    }
                }
            }
            #topnav-search__wrapper {
                display: flex;
                margin: 0 0 0 50px;
                flex-direction: row;
                align-items: center;
                #topnav-search {
                    display: flex;
                    flex-direction: row;
                    #topnav-search__input {
                        height: 30px;
                        width: 150px;
                        font-size: .9em;
                        padding: 0 10px;
                        box-sizing: border-box;
                        border-top-left-radius: 3px;
                        border-bottom-left-radius: 3px;
                        border-top: 1px solid hsl(0, 0%, 80%);
                        border-left: 1px solid hsl(0, 0%, 80%);
                        border-bottom: 1px solid hsl(0, 0%, 80%);
                    }
                    #topnav-search__submit {
                        width: 30px;
                        display: flex;
                        color: #ffffff;
                        align-items: center;
                        justify-content: center;
                        background-color: #000000;
                        border-top-right-radius: 3px;
                        border-bottom-right-radius: 3px;
                    }
                }
            }
            #topnav-links__wrapper {
                flex: 1;
                display: flex;
                flex-direction: row;
                #topnav-links {
                    flex: 1;
                    margin: 0;
                    padding: 0;
                    display: flex;
                    list-style: none;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-end;
                    .topnav-link__wrapper {
                        margin: 0 0 0 25px;
                        .topnav-link {
                            display: block;
                            text-decoration: none;
                            color: hsl(0, 0%, 0%);
                        }
                        &:first-child {
                            margin: 0;
                        }
                    }
                }
                #topnav-avatar {
                    display: flex;
                    margin: 0 0 0 15px;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    #avatar {
                        width: 24px;
                        height: 24px;
                        border-radius: 12px;
                    }
                }
            }
        }
    }
    #content__wrapper {
        flex: 1;
        .content-section {
            width: 1200px;
            margin: 0 auto;
            padding: 100px 0;
            box-sizing: border-box;
        }
    }
    #footer__wrapper {
        background-color: hsl(0, 0%, 100%);
        #footer {
            display: flex;
            padding: 25px 0;
            flex-direction: row;
            align-items: center;
            box-sizing: border-box;
            justify-content: center;
            color: hsl(0, 0%, 50%);
        }
    }
}

#breadcrumbs-wrapper {
    background-color: hsl(0, 0%, 10%);
    #breadcrumbs {
        display: flex;
        width: 1200px;
        margin: 0 auto;
        padding: 10px 0;
        font-size: .9em;
        list-style: none;
        flex-direction: row;
        .breadcrumb-item {
            color: #fff;
            display: flex;
            padding: 0 5px;
            flex-direction: row;
            align-items: center;
            box-sizing: border-box;
            &:last-child {
                padding: 0 0 0 5px;
            }
            &:first-child {
                padding: 0 5px 0 0;
            }
            &.active {
                color: #fff;
                font-style: italic;
            }
            &.chevron {
                font-size: .8em;
            }
            .home {
                color: #fff;
                margin-right: 5px;
            }
            .v-icon {
                color: #fff;
            }
            .svg-inline--fa, .far, .fas {
                margin-top: 0px;
                transition: all .4s;
                color: hsl(0, 0%, 95%);
            }
            a, a:active, a:visited, a:link {
                color: hsl(0, 0%, 95%);
                text-decoration: none;
                transition: all .3s;
                &:hover {
                    color: hsl(0, 0%, 0%);
                }
            }
        }
    }
}

#profile {
    #profile-header {
        display: flex;
        margin: 0 0 50px 0;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        #profile-header__avatar-wrapper {
            margin: 0 25px 0 0;
            #profile-avatar {
                width: 120px;
                height: 120px;
                border-radius: 60px;
                background-color: #f5f5f5;
            }
        }
        #profile-header__text-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .page-subtitle {
                line-height: 1em;
                margin: 0 0 3px 0;
            }
            .page-subtitle__subtext {
                margin: 0;
            }
        }
    }
    #profile__header {
        .page-subtitle {
            margin: 0 0 50px 0;
        }
    }
    #profile__info {
        width: 600px;
        margin: 0 auto;
        #profile__info-left {
    
        }
        #profile__info-right {
    
        }
    }
    #profile__actions {
        width: 600px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 25px auto 0 auto;
        justify-content: flex-end;
    }
}

#memberlist {
    overflow: hidden;
    border-radius: 3px;
    background-color: #fff;
    #memberlist__header {
        display: flex;
        flex-direction: row;
        background-color: hsl(0, 0%, 98%);
        .memberlist__header-column {
            flex: 2;
            display: flex;
            font-weight: 500;
            padding: 15px 25px;
            flex-direction: row;
            box-sizing: border-box;
            &:last-child {
                flex: 1;
                justify-content: flex-end;
            }
        }
    }
    #memberlist__content {
        .member {
            display: flex;
            color: #000000;
            transition: all .3s;
            flex-direction: row;
            text-decoration: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            &:last-child {
                border-bottom: 0;
            }
            &:hover {
                cursor: pointer;
                background-color: hsl(0, 0%, 95%);
            }
            .member-name, .member-ministry, .member-organization, .member-job-title, .member-reputation {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 15px 25px;
                box-sizing: border-box;
            }
            .member-name {
                flex: 2;
            }
            .member-ministry {
                flex: 2;
                text-align: center;
            }
            .member-organization {
                flex: 2;
                text-align: center;
            }
            .member-job-title {
                flex: 2;
                text-align: center;
            }
            .member-reputation {
                flex: 1;
                justify-content: flex-end;
            }
        }
    }
}
#no-members {
    text-align: center;
}

#jobs {
    overflow: hidden;
    border-radius: 3px;
    background-color: #fff;
    #jobs-header {
        display: flex;
        padding: 10px 15px;
        flex-direction: row;
        box-sizing: border-box;
        background-color: hsl(0, 0%, 95%);
        .jobs-header__column {
            flex: 1;
            font-weight: 500;
            &:first-child {
                flex: 2;
            }
        }
    }
    .job {
        display: flex;
        color: #000000;
        padding: 10px 15px;
        flex-direction: row;
        align-items: center;
        transition: all .3s;
        text-decoration: none;
        box-sizing: border-box;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        &:last-child {
            border-bottom: 0;
        }
        &:hover {
            background-color: hsl(0, 0%, 98%);
            cursor: pointer;
        }
        .job-title {
            flex: 2;
        }
        .job-status {
            flex: 1;
        }
    }
}
#no-jobs {
    padding: 25px;
    border-radius: 3px;
    box-sizing: border-box;
}

#job {
    #job-header {
        width: 100%;
        height: 400px;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        #job-header__overlay {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: rgba(255, 255, 255, 0.75);
        }
        #job-header__content {
            height: 100%;
            position: relative;
            #job-header__actions {
                right: 0;
                top: 25px;
                z-index: 3;
                position: absolute;
                .v-btn {
                    margin: 0 0 0 15px;
                    &:first-child {
                        margin: 0;
                    }
                }
            }
            #job-header__back-button {
                left: 0;
                top: 25px;
                z-index: 3;
                position: absolute;
                .v-btn {
                    margin: 0;
                }
            }
        }
        #job-header__text-wrapper {
            left: 0;
            bottom: 0;
            z-index: 2;
            width: 100%;
            height: 100%;
            display: flex;
            padding: 25px 0;
            position: absolute;
            align-items: center;
            box-sizing: border-box;
            flex-direction: column;
            justify-content: center;
            #job-header__text {
                padding-top: 50px;
                #job-header__title {
                    font-weight: 300;
                    font-size: 3.5em;
                    line-height: 1em;
                    margin: 0 0 20px 0;
                    text-align: center;
                }
                #job-header__slogan {
                    font-size: 1.75em;
                    font-weight: 300;
                    line-height: 1em;
                    margin: -10px 0 30px 0;
                    text-align: center;
                }
                #job-header__stats {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    .stat {
                        margin: 0 15px 0 0;
                        &:last-child {
                            margin: 0;
                        }
                    }
                    #job-status {
                        font-size: .8em;
                        font-weight: 500;
                        border-radius: 3px;
                        box-sizing: border-box;
                        padding: 3px 6px 4px 6px;
                        text-transform: uppercase;
                        background-color: #ffffff;
                        &.open {
                            color: green;
                        }
                        &.closed {
                            color: red;
                        }
                    }
                }
            }
        }
    }
    #job-content {
        display: flex;
        flex-direction: row;
        #job-content__left {
            flex: 3;
            margin: 0 30px 0 0;
            .job-paragraph {
                margin: 0 0 50px 0;
                .job-paragraph__title {
                    font-size: 2.5em;
                    font-weight: 300;
                    line-height: 1em;
                    margin: 0 0 25px 0;
                }
                .job-paragraph__text {
                    font-size: 1.3em;
                    font-weight: 400;
                    line-height: 1.5em;
                }
            }



            #job-description {
                font-weight: 400;
                font-size: 1.5em;
            }
        }
        #job-content__right {
            flex: 2;
        }
    }
}

.sidebar-title {
    font-size: 1.5em;
    font-weight: 400;
    margin: 0 0 15px 0;
}
.resource-list__wrapper {
    border-radius: 3px;
    background-color: #ffffff;
    .resource-list {
        .resource {
            display: flex;
            padding: 10px 15px;
            flex-direction: row;
            align-items: center;
            transition: all .3s;
            box-sizing: border-box;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            &:last-child {
                border-bottom: 0;
            }
            &:hover {
                cursor: pointer;
                background-color: hsl(0, 0%, 95%);
            }
            .resource-icon {
                margin: 0 15px 0 0;
            }
            .resource-title {
                flex: 1;
            }
            .resource-size {
                margin: 0 0 0 15px;
            }
        }
    }
    .no-resources {
        padding: 10px 15px;
        box-sizing: border-box;
    }
}

#delete-dialog {
    width: 600px;
    margin: 0 auto;
    border-radius: 3px;
    background-color: #ffffff;
    #delete-dialog__text {
        padding: 25px;
        text-align: center;
        box-sizing: border-box;
    }
    #delete-dialog__actions {
        display: flex;
        padding: 25px;
        flex-direction: row;
        box-sizing: border-box;
        background-color: hsl(0, 0%, 95%);
        #delete-dialog__actions-left, #delete-dialog__actions-right {
            flex: 1;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        #delete-dialog__actions-left {
            
        }
        #delete-dialog__actions-right {
            justify-content: flex-end;
        }
    }
}



























