@import "imports";
@import "general";

//
// App layout styling
//

#app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 90%);
    #topnav__wrapper {
        height: 80px;
        background-color: hsl(0, 0%, 100%);
        #topnav {
            height: 100%;
            width: 1200px;
            display: flex;
            margin: 0 auto;
            flex-direction: row;
            align-items: center;
            #topnav-logo__wrapper {
                flex: 1 0 100px;
                #topnav-logo {
                    height: 40px;
                    padding: 10px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    box-sizing: border-box;
                }
            }
            #topnav-links__wrapper {
                flex: 1;
                #topnav-links {
                    margin: 0;
                    padding: 0;
                    display: flex;
                    list-style: none;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-end;
                    .topnav-link__wrapper {
                        margin: 0 0 0 15px;
                        .topnav-link {
                            display: block;
                            text-decoration: none;
                            color: hsl(0, 0%, 0%);
                        }
                    }
                }
            }
        }
    }
}